.container{

    display: flex;
    border: 0px solid black;
    height: 98vh;
    align-items: flex-end;
}



.box{

    width: 80;
    height: 160;
    font-size: 1em;
    text-align: center;
    border: 1px solid black;
    border-color: black;

}
